<style>
  body {
    background-color: #312E38;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    color: #f4ede8;
    text-align: center;
  }

  .reset-link {
    color: #ff9000;
    transition: color 0.2s;
  }

  .reset-link:hover {
    color: #bd6b00;
  }

  .strong-text {
    color: #ff9000
  }

  .logo-image {
    height: 90px;
  }
</style>
<img class="logo-image" src="http://localhost:3333/logo.svg" alt="logo">
<div class="message-content">
  <p>Olá, <strong class="strong-text">{{name}}</strong></p>
  <p>Um pedido de recuperação de senha para sua conta foi solicitado.</p>
  <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
  <p>
    <a class="reset-link" href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Caso não tenha sido, descarte esse email!</p>
  <p>
    Obrigado! <br />
    <strong>Equipe</strong> <strong class="strong-text">GoBarber</strong>
  </p>
</div>